**/docker-compose.yml
.dockerignore
**/Dockerfile
**/node_modules
**/build
**/*.log
**/*.md
**/.git
**/.gitignore
**/.gitmodules
**/.gitattributes
**/dist
**/build
**/.cache
**/cache
**/*.sqlite
**/*.env